extends ../config/template
append config
  -pageTitle = 'Gepres-animation'
  -pageDescription = 'libreria de animacion'
  -pageImage = ''

block main
  //- h1.title hola mundo
  //- p proyecto funcionando

  //- nav.nav
  //-   ul.menu
  //-     li.menu-items
  //-       a.menu-link items2

  //- a.button Leer más
